[Unit]
Description=Front Doorbell

[Service]
Type=simple
ExecStart=su pi; /usr/bin/python3 /home/pi/Projects/large-doorbell-button/doorbell.py

[Install]
WantedBy=multi-user.target