[Unit]
Description=Front Doorbell

[Service]
WorkingDirectory=/home/pi/
User=pi
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Projects/large-doorbell-button/doorbell.py

[Install]
WantedBy=multi-user.target