[Unit]
Description=Front Doorbell

[Service]
WorkingDirectory=/home/pi/Projects/large-doorbell-button/
User=pi
Type=simple
ExecStart=/bin/pwd

[Install]
WantedBy=multi-user.target